<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>App name: iweather</strong>
          </ion-item>
          <ion-item>
            <strong>Version: 1.0.0</strong>
          </ion-item>
          <ion-item>
            <strong>Description: Simple weather app</strong>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
