.home {
  background: color($colors, primary);
  color: color($colors, light);
  margin-top: 30px;
}

.toolbar-title {
  text-align: center;
}

.tabs-md,
.tab-buttton-icon {
  color: #ccc;
}

.temp {
  font-size: 90px;
  text-align: center;
  font-weight: normal;
}

.location,
.icon,
.dsc {
  text-align: center;
}

.icon.img {
  width: 100px;
}

.location {
  font-size: 40px;
}

.dsc {
  font-size: 30px;
}
